<div class="container">
    <h4>Data Apoteker</h4>
    <hr>
    <!-- menampilkan data apoteker -->
    <ul class="list-group">
        <!-- forEach scanning -->
        <% data.forEach(element=> { %>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-3">
                        <small class="text-success">
                            Nama
                        </small><br>
                        <%= element.nama_apoteker %>
                    </div>

                    <div class="col-lg-3">
                        <small class="text-succes">
                            Username
                        </small><br>
                        <%= element.username %>
                    </div>

                    <div class="col-lg-3">
                        <small class="text-succes">
                            Password
                        </small><br>
                        <%= element.password %>
                    </div>
                    <div class="col-lg-3">
                        <small class="text-success">
                            Opsi
                        </small><br>

                        <a href="/apoteker/edit/<%= element.id %> ">
                            <button class="btn btn-primary">
                                Edit
                            </button>
                        </a>

                        <a href="/apoteker/delete/<%= element.id %>"
                            onclick="return confirm(`Apakah Anda yakin ingin menghapus data ini?`)"> <button
                                class="btn btn-sm btn-danger"> Hapus </button> </a>
                    </div>
                </div>
            </li>
            <% }) %>
    </ul>
    <a href="/apoteker/add">
        <button class="btn btn-md btn-success">
            Tambah Data
        </button>
    </a>
</div>