<div class="container">
    <h3>From Transaksi</h3>
    <hr>


    <form action="/transaksi/add" method="post">
        Pilih Member
        <select name="id_member" class="form-control mb-2">
            <option value="">--Pilih Member--</option>
            <% dataMember.forEach(element => { %>
             <option value="<%= element.id %>">
            <%= element.nama_member%> 
            </option>
            <% }) %>        
        </select>

        Tgl. Transaksi
        <input type="date" name="tgl_transaksi" class="form-control mb-2" value="<%= tgl_transaksi %>" required>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalTelur">
            Tambah Pilihan Telur
        </button>

        <!-- tampilin isi cart nya -->
        <h5>
            List Cart telur
        </h5>
        <hr>

        <ul class="list-group">
            <% cart.forEach(element => { %>
             <li class="list-group-item row">
                <!-- area telur-->
                <div class="row">
                    <div class="col-lg-3">
                        <small>Jenis Telur</small>
                        <h6>
                            
                            <%= element.jenis_telur %> </h6>
                    </div>
    
                    <!-- area jumlah beli -->
                    <div class="col-lg-2">
                        <small>Jumlah Beli</small>
                        <h6>
                            
                            <%= element.jumlah_telur %> </h6>
                    </div>
    
                    <!-- area harga satuan -->
                    <div class="col-lg-3">
                        <small>Harga Satuan</small>
                        <h6><%= element.harga_telur%> </h6>
                    </div>
    
                    <!-- area harga total -->
                    <div class="col-lg-3">
                        <small>Total</small>
                        <h6><%= element.harga_telur * element.jumlah_telur %> </h6>
                    </div>
                    <!-- area hapus -->
                    <div class="col-lg-1">
                        <a href="/cart/<%= element.id_telur %> ">
                            <button type="button" class="btn btn-danger m-2">
                                &times;
                            </button>
                        </a>
                    </div>
                </div>

                 <!-- area pack-->
                 <div class="row">
                    <div class="col-lg-3">
                        <small>Nama Pack</small>
                        <h6>
                            
                            <%= element.nama_pack %> </h6>
                    </div>
    
                    <!-- area jumlah beli -->
                    <div class="col-lg-2">
                        <small>Jumlah Beli</small>
                        <h6>
                            
                            <%= element.jumlah_pack %> </h6>
                    </div>
    
                    <!-- area harga satuan -->
                    <div class="col-lg-3">
                        <small>Harga Satuan</small>
                        <h6><%= element.harga_pack%> </h6>
                    </div>
    
                    <!-- area harga total -->
                    <div class="col-lg-3">
                        <small>Total</small>
                        <h6><%= element.harga_pack * element.jumlah_pack %> </h6>
                    </div>
                    <!-- area hapus -->
                    <div class="col-lg-1">
                        <a href="/cart/<%= element.id_pack %> ">
                            <button type="button" class="btn btn-danger m-2">
                                &times;
                            </button>
                        </a>
                    </div>
                </div>

             </li>
            <% }) %>
        </ul>

        <!-- button simpan -->
        <% if (cart.length > 0) { %>
         <button type="submit" class="btn btn-info">
            Simpan Transaksi
         </button>
        <% } %>
    </form>
</div>

<!-- Modal (pop up) obat -->

<!-- Modal -->
<div class="modal fade" id="modalTelur" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Endeogg</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/cart" method="post">

                    <!-- area telur -->
                    Pilih Telur
                    <select name="id_telur" class="form-control mb-2" required onchange="pilihTelur(this.value)">
                        <option value="">--Pilih Telur--</option>
                        <% dataTelur.forEach(element => { %>
                         <option value="<%= element.id %>">
                            <%= element.jenis_telur %> 
                         </option>
                        <% }) %>
                    </select>

                    Jumlah Beli
                    <input type="number" id="jumlah_telur" name="jumlah_telur" class="form-control mb-2" required min="1" onchange="hitungTotal(this.value)" onkeyup="hitungTotal(this.value)" />
                    

                    Harga Satuan
                    <input id="harga_telur" type="number" name="harga_telur" class="form-control mb-2" required readonly>

                    <!-- Total -->
                    <!-- <input type="number" name="total" id="total" class="form-control mb-2" required readonly> -->
                    <!-- <button type="submit" class="btn btn-success w-100">
                        Tambahkan Telur
                    </button> -->

                    <!-- area pack -->
                    Pilih Pack
                    <select name="id_pack" class="form-control mb-2" required onchange="pilihPack(this.value)">
                        <option value="">--Pilih Pack--</option>
                        <% dataPack.forEach(element => { %>
                         <option value="<%= element.id %>">
                            <%= element.nama_pack %> 
                         </option>
                        <% }) %>
                    </select>

                    Jumlah Beli
                    <input type="number" id="jumlah_pack" name="jumlah_pack" class="form-control mb-2" required min="1" onchange="hitungTotal(this.value)" onkeyup="hitungTotal(this.value)" />
                    

                    Harga Satuan
                    <input id="harga_pack" type="number" name="harga_pack" class="form-control mb-2" required readonly>

                    Total
                    <input type="number" name="total" id="total" class="form-control mb-2" required readonly>
                    <button type="submit" class="btn btn-success w-100">
                        Tambahkan Pack
                    </button>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>

<script>
    function pilihTelur(id) {
        /** dapatin data obat bertioe string dan kita kembalikan
         *  ke bentuk array object 
         */
        let telur = JSON.parse(`<%- dataTelurString %>`)


        /** mencari data obat berdasarkan id yang dipilih */
        let selectedTelur = telur.find(item => item.id == id)


        /** ambil data harga */
        let harga = selectedTelur.harga



        /** set value dari harga_beli -> harga obat yang dipilih */
        document.getElementById(`harga_telur`).value = harga


        // dapetin nilai dari jumlah_beli
        let jumlah_telur= Number(document.getElementById(`jumlah_telur`).value)


        // dihitung totalnya
        let total = harga_telur * jumlah_telur

        // tempel total input
        document.getElementById(`total`).value = total
    }

    function pilihPack(id) {
        /** dapatin data obat bertioe string dan kita kembalikan
         *  ke bentuk array object 
         */
        let pack = JSON.parse(`<%- dataPackString %>`)


        /** mencari data obat berdasarkan id yang dipilih */
        let selectedPack = pack.find(item => item.id == id)


        /** ambil data harga */
        let harga = selectedPack.harga



        /** set value dari harga_beli -> harga obat yang dipilih */
        document.getElementById(`harga_pack`).value = harga


        // dapetin nilai dari jumlah_beli
        let jumlah_pack= Number(document.getElementById(`jumlah_pack`).value)


        // dihitung totalnya
        let total1 = harga_pack * jumlah_pack

        // tempel total input
        document.getElementById(`total`).value = total
    }
    
    function hitungTotal(){
        // dapetin nilai harga beli
        let harga_telur = Number(document.getElementById(`harga_telur`).value)

        let harga_pack = Number(document.getElementById(`harga_pack`).value)

        let jumlah_telur = Number(document.getElementById(`jumlah_telur`).value)

        let jumlah_Pack = Number(document.getElementById(`jumlah_pack`).value)

        // hitung totalnya
        let total = harga_telur * jumlah_telur + harga_pack * jumlah_Pack

        // tempelin ke input total
        document.getElementById(`total`).value = total 
    }
</script> 