<div class="container">
    <h4 class="text-primary">Data Telur</h4>
    <hr>
    <ul class="list-group my-2">
        <% data.forEach(member=> { %>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-3">
                        <small class="text-info">Langganan</small> <br />
                        <%= member.nama_member %>
                    </div>

                    <div class="col-lg-3">
                        <small class="text-info">Alamat</small> <br />
                        <%= member.alamat %>
                    </div>

                    <div class="col-lg-3">
                        <small class="text-info">Telepon</small> <br />
                        Rp <%= member.telepon %>

                    </div>

                    <div class="col-lg-3">
                        <small class="text-info">Action</small> <br />

                        <!-- button edit -->
                        <a href="/member/edit/<%= member.id %>">
                            <button class="btn btn-sm btn-primary">
                                Edit
                            </button>
                        </a>

                        <!-- button delete -->
                        <a href="/member/delete/<%= member.id %>"
                            onclick="return confirm(`Apakah Anda yakin ingin menghapus data ini?`)">
                            <button class="btn btn-sm btn-danger">
                                Hapus
                            </button>
                        </a>

                    </div>
                </div>
            </li>
            <% }) %>
    </ul>

    <!-- button add new data -->
    <a href="/member/add">
        <button class="btn btn-md btn-success">
            Tambah Data
        </button>
    </a>

</div>